<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-info">
                <a class="navbar-brand" href="{% url 'home' %}">REACTIVE GAME</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="{% url 'home' %}">Home</a>
                      </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="{% url 'login' %}">Login</a>
                      </li>

                      <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="{% url 'table' %}">Table</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="{% url 'user' %}">User</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="{% url 'game' %}">Game</a>
                      </li>

                    </ul>

                     <ul class="navbar-nav">
                          <li class="nav-item">
                                <a class="nav-link font-weight-bold" href="{% url 'register' %}">Register</a>
                          </li>

                           <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="{% url 'logout' %}">Logout</a>
                            </li>
                      </ul>

              </div>
            </nav>

                 {% block content %}{% endblock content %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
  </body>
</html>