{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>
        .bottom {
             transform: rotate(180deg);
        }

        #left {
            transform: rotate(-90deg);
            position: fixed;
            left: 520px;
            top: auto;
        }

        .right {
            transform: rotate(90deg);
            position: fixed;
            right: 520px;
            top: 265px;
        }


    </style>
     <title>Game Page</title>


    <div class="top">
        <div class="text-center">
            <img src="{% static "images/chair.jpg" %}"  class="align-self-start mr-3" alt="...">
        </div>
     </div>

    <div id="left">
       <img src="{% static "images/chair.jpg" %}"  class="align-self-start mr-3" alt="...">
    </div>


    <div class="text-center">
            <img src="{% static "images/tableTop.jpg" %}" class="rounded" alt="...">
    </div>

    <div class="right">
        <div class="text-center">
            <img src="{% static "images/chair.jpg" %}"  class="align-self-start mr-3" alt="...">
        </div>
    </div>

        <div class="bottom">
            <div class="text-center">
              <img src="{% static "images/chair.jpg" %}" class="rounded" alt="...">
            </div>
        </div>
    <div class="row">
        <div class="col-sm-3">
            <form action="{% url 'game' %}" method="post">
                {% csrf_token %}
                 <div class="form-group mt-2">
                    <label for="usernameInput">Chip Amount:</label>
                    <input type="text" name="amount" class="form-control" id="usernameInput" >
                 </div>
                 <div class="form-group mt-2">
                    <label for="usernameInput">Action (Fold, Raise, Call...):</label>
                    <input type="text" name="playerChoice" class="form-control" id="usernameInput" >
                </div>
                <div class="form-group mt-2">
                    <label for="usernameInput">Your Table:</label>
                    <input type="text" name="table_name" class="form-control" id="usernameInput" >
                </div>
                <div class="form-group mt-2">
                    <label for="usernameInput">Your username:</label>
                    <input type="text" name="username" class="form-control" id="usernameInput" >
                </div>
                <button type="submit" class="btn btn-info" name="create">OK</button>
            </form>
        </div>
     </div>

{% endblock  %}