{% extends "base.html" %}

{% block content %}
     <title>Home Page</title>
    <h3>Home</h3>
    <div class="jumbotron">
        <h1 class="display-4">FOR ALL NEW PLAYERS</h1>
        <p>Choose a the following user name and login in the login page to start playing</p>

    </div>

      <div class="d-flex justify-content-center">
           <table class="table table-striped">

               <thead>
                   <tr>
                      <th scope="col">Available user names:</th>
                    </tr>
               </thead>
                <tbody>

                      <tr>
                         <td>
                             {% for player in Usernames%}
                              <ul class="list-group">
                                  <li class="list-group-item">{{player}}</li>
                              </ul>
                             {% endfor %}
                         </td>
                      </tr>
                </tbody>
            </table>
        </div>

        {% if error_message %}
        <div class="alert alert-danger mt-5">
            {{ error_message }}
        </div>
    {% endif %}
{% endblock  %}