{% extends "base.html" %}

{% block content %}
     <title>Login Page</title>
    <div class="jumbotron">
        <h1 class="display-4">Login Notice!</h1>
        <p>Admin has a unique password</p>
        <p>Player can login using 'password' as password</p>

    </div>
   <form action="{% url 'login' %}" method="post">
       {% csrf_token %}
       <div class="form-group mt-5">
            <label for="usernameInput">Username</label>
            <input type="text" name="username" class="form-control" id="usernameInput" required>
       </div>
       <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" name="password" class="form-control" id="passwordInput" required>
       </div>
       <button type="submit" class="btn btn-info">Submit</button>
    </form>
    {% if error_message %}
        <div class="alert alert-danger mt-5">
            {{ error_message }}
        </div>
    {% endif %}
{% endblock %}