{% extends "base.html" %}

{% block content %}
     <title>Player Table View</title>
    <h3>Table</h3>
        <div class="jumbotron">
    <h1 class="display-4">Table</h1>
    </div>

     <div class="row">
        <div class="col-sm-3">

     <div class="d-flex justify-content-center">
       <table class="table table-striped">

           <thead>
               <tr>
                  <th scope="col">Table</th>
                </tr>
           </thead>
            <tbody>

                  <tr>
                     <td>
                     <form action="{% url 'player' %}" method="post">
                      {% csrf_token %}
                        {% for table in Table %}
                        <ul class="list-group">
                          <span class="list-group-item">
                              {{table}} <tab></tab>
                              <span style="margin-left: 4em"><button type="submit" class="btn btn-info" name="join">
                                  Join</button>
                              </span>
                          </span>
                          </li>
                        </ul>
                        {% endfor %}
                      </form>
                    </td>

                  </tr>
            </tbody>
        </table>
        </div>
        </div>
     </div>

    {% if error_message %}
        <div class="alert alert-danger mt-5">
            {{ error_message }}
        </div>
    {% endif %}

{% endblock  %}