{% extends "base.html" %}

{% block content %}
 <title>Register Page</title>
        <div class="jumbotron">
        <h1 class="display-4">Registration Information</h1>

    </div>
   <form action="{% url 'register' %}" method="post">
       {% csrf_token %}
       <div class="form-group mt-5">
            <label for="usernameInput">Choose username:</label>
            <input type="text" name="username" class="form-control" id="usernameInput" required>
       </div>
       <div class="form-group">
            <label for="passwordInput">Choose password:</label>
            <input type="password" name="password" class="form-control" id="passwordInput" required>
       </div>

       <div class="form-group">
            <label for="passwordInput">Confirm password:</label>
            <input type="password" name="confirm_password" class="form-control" id="passwordInput" required>
       </div>

      <button type="submit" class="btn btn-info">Submit</button>
    </form>
    {% if error_message %}
        <div class="alert alert-danger mt-5">
            {{ error_message }}
        </div>
    {% endif %}
{% endblock %}