{% extends "base.html" %}

{% block content %}
<title>Table Page</title>
    <div class="jumbotron">
    <h1 class="display-4">Table</h1>
    </div>

     <div class="row">
        <div class="col-sm-3">
            <form action="{% url 'table' %}" method="post">
                {% csrf_token %}

                 <div class="form-group mt-2">
                    <label for="usernameInput">Table name:</label>
                    <input type="text" name="create_table" class="form-control" id="usernameInput" >
                </div>
                 <button type="submit" class="btn btn-info" name="create">Create</button>
            </form>
        </div>
     </div>

     <div class="row">
        <div class="col-sm-3">
            <form action="{% url 'table' %}" method="post">
                {% csrf_token %}
                <div class="form-group mt-2">
                    <label for="usernameInput">Table name:</label>
                    <input type="text" name="delete_table" class="form-control" id="usernameInput" >
                </div>
                <button type="submit" class="btn btn-info">delete</button>
            </form>
        </div>
     </div>

     <div class="d-flex justify-content-center">
       <table class="table table-striped">

           <thead>
               <tr>
                  <th scope="col">Top Players</th>
                  <th scope="col">Table</th>
                </tr>
           </thead>
            <tbody>

                  <tr>
                     <td>
                         {% for player in Players%}
                          <ul class="list-group">
                              <li class="list-group-item">{{player}}, score: {{ player.highscore}}</li>
                          </ul>
                         {% endfor %}
                     </td>

                     <td>
                        {% for table in Table %}
                        <ul class="list-group">
                          <li class="list-group-item">
                              <a class="nav-link font-weight-bold" href="{% url 'game' %}">{{table}}</a>
                          </li>
                        </ul>
                        {% endfor %}
                    </td>

                  </tr>
            </tbody>
        </table>
        </div>

    {% if error_message %}
        <div class="alert alert-danger mt-5">
            {{ error_message }}
        </div>
    {% endif %}

{% endblock content %}