{% extends "base.html" %}

{% block content %}
<title>User Page</title>


    <form action="{% url 'user' %}" method="post">
       {% csrf_token %}
       <div class="form-group mt-5">
            <label for="usernameInput">Player Name</label>
            <input type="text" name="add" class="form-control" id="usernameInput" required>
       </div>
       <button type="submit" class="btn btn-info">Add</button>
    </form>


    <form action="{% url 'user' %}" method="post">
       {% csrf_token %}
       <div class="form-group mt-5">
            <label for="usernameInput">Player Name</label>
            <input type="text" name="delete" class="form-control" id="usernameInput" required>
       </div>
       <button type="submit" class="btn btn-info">delete</button>
    </form>

     <div class="d-flex justify-content-center">
           <table class="table table-striped">

               <thead>
                   <tr>
                      <th scope="col">Players:</th>
                    </tr>
               </thead>
                <tbody>

                      <tr>
                         <td>
                             {% for player in Players%}
                              <ul class="list-group">
                                  <li class="list-group-item">{{player}}</li>
                              </ul>
                             {% endfor %}
                         </td>
                      </tr>
                </tbody>
            </table>
        </div>

        {% if error_message %}
        <div class="alert alert-danger mt-5">
            {{ error_message }}
        </div>
    {% endif %}

{% endblock content %}